# It's just an example of csv-files processing

In [1]:
import pandas

## functions

In [2]:
def only_in_group(value):
    return table[table['group'] == value]

## data

In [3]:
file = 'students_2021.csv'
table = pandas.read_csv(file)   #table is pandas dataframe (thanks cap)

# main

In [4]:
    #preparation to processing

table.drop('Отметка времени', inplace = True, axis = 1)
table.columns = [   'group', 'name', 'birth','phone',
                    'parents','have_google','have_discord',
                    'discord_name','equipment','skills','practice']

In [6]:
    #processing
num = input('group number: ')
only_in_group(num+'Р')[['group','name', 'skills']]

group number1

,group,name,skills
2,1Р,Михно Дарья,Использует компьютер для работы в офисных прог...
15,1Р,Корогод Константин Максимович,"Использует компьютер для игр, Использует компь..."
18,1Р,Колеогло Даниил,"Использует компьютер для игр, Использует брауз..."
19,1Р,Корогод Константин Максимович,"Использует компьютер для игр, Использует компь..."
20,1Р,Никитенко Матвей,Использует браузер и мессенджеры на компьютере...
25,1Р,Гнатюк Егор,"Использует компьютер для игр, Использует компь..."
30,1Р,Малоушкин Арсений,"Использует компьютер для игр, Использует брауз..."
33,1Р,Назаров Егор,Использует компьютер для игр